# File Types
.env
*.log
*.pyc

# Folders
patchnotes/
__pycache__/
.vscode/
.mypy_cache/
features/npcs/images

# Databases
database
databasebackup
adventuresdb
adventuresdbbackup
adventuresdb.json
adventuresdbbackup.json

# Experimentation
experiments.py